.contact-sales-container {
  max-width: 1240px;
  justify-self: center;
  background-color: #1d1d1d;
  border-radius: 2rem;
  color: white;
  display: grid;
  box-sizing: border-box;
  padding-inline: 5%;
  padding-block: 5%;
  gap: 5rem;
}

.heading {
  display: grid;
  gap: 2rem;
}

.title {
  margin: 0px;
  font-size: 50px;
}

.content {
  font-size: 22px;
  margin: 0px;
}

.contact {
  color: white;
  text-decoration: none;
}